

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Walt Disney Script;
	overflow:hidden;

}


@font-face {
  	font-family: Walt Disney Script;
  	src: url('../Assets/disneyfont.ttf') format("truetype");

}

@font-face{
	font-family: Curly Font;
	src: url('../Assets/akaDora.ttf') format("truetype");
}

section{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: block;
	box-sizing: border-box;
}

h2, h3{

	margin: 5px;
	position: relative;
	
}


#container{
	top: 100px;
    left: 70%;
    width: 100px;
    position: relative;
    font-size: 30px;
}
#container:hover{
	cursor: pointer;
}
#youtubeGuide{
	width: 100px;
}

#container2{
	top: 100px;
    left: 30%;
    width: 100px;
    position: relative;
    font-size: 30px;
}
#container2:hover{
	cursor: pointer;
}
#report{
	width: 100px;
}

.helpmessage{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
	z-index: 1;
}
.helpmessagebot{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 255%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
	z-index: 1;
}
.helpmessageleft{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 140%;
	right: 27%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
	z-index: 1;
}

h5.helpmessage{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 10%;
	left: 25%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
}

h6.helpmessage2{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 80%;
	left: 80%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
}

.helpmessage3{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 40%;
	left: 15%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
}

#helpmessageside{
	display: none;
	font-size: 300%;
	text-shadow: 0 2px 2px black;
	position: absolute;
	margin:auto;
	top: 40%;
	left: 85%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0.5;
}


div#godown1{
position:absolute;
	 bottom: 0px;
	 width: 100vw;
	 height: 10vh;
	 opacity: 0.5;
}

div#goup1{
position:absolute;
	 top: 0%;
	 width: 100vw;
	 height: 8.5vh;
	 z-index: 998;
}


div#goright{
position:absolute;
	 right: 100vw;
	 width: 7.5vw;
	 height: 5000px;  
	 position:absolute;
	 right:0;
	 top:0;
	 z-index: 999;
}


div#goleft{
position:absolute;
	 left: 0px;
	 width: 6.5vw;
	 height: 100vh;
	 position:absolute;
	 left:0;
	 top:0;
	 z-index: 999;
}

.tinkerbellHOMEblack{
	left: 50%;
	top: 43%;
	width: auto;
	height: 10%; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	
}

#boxbot{
	left: 50%;
	top: 43%;
	width: 75px;
	height: 100px; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	z-index: 1;
}
#boxbot:hover{ 
	cursor: pointer;
}

#boxright{
	left: 50%;
	top: 43%;
	width: 75px;
	height: 100px; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	z-index: 1;
}
#boxright:hover{ 
	cursor: pointer;
}

#boxtop{
	left: 50%;
	top: 43%;
	width: 75px;
	height: 100px; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	z-index: 1;
}
#boxtop:hover{ 
	cursor: pointer;
}

.tinkerbellHOME{
	left: 50%;
	top: 43%;
	width: auto;
	height: 10%; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	display: none;
}


#tinkerbellHOMEjungle{
	left: 50%;
	top: 43%;
	width: auto;
	height: 10%;  
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
}
#tinkerbellHOMEjungle:hover{ 
	cursor: pointer;
}

#boxleft{
	left: 50%;
	top: 43%;
	width: 75px;
	height: 100px; 
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
	z-index: 1;
}
#boxleft:hover{ 
	cursor: pointer;
}

#texttop{
	height: 10px;
	width: auto;
	bottom: 43%;
	left: 50%;
	display: none;
	position: absolute;
}
#textright{
	height: 10px;
	width: auto;
	bottom: 43%;
	left: 50%;
	display: none;
	position: absolute;
}
#textbot{
	height: 10px;
	width: auto;
	top: 257%;
	left: 50%;
	display: none;
	position: absolute;
}
#textleft{
	height: 10px;
	width: auto;
	bottom: -60%;
	left: 50%;
	display: none;
	position: absolute;
}





#section1{   

background-color: black;
background-image: url("../Assets/stars2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin: auto;
padding: 0;

}

#section2{
background-color: lightblue;  /* background-color: linear-gradient(to right, darkred, darkred 15%, green 15%, green 85%, darkred 85%); something i played about with*/
background-image: url("../Assets/castle2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin:auto;
padding: 0;
position: relative;
text-align: center;
text-shadow: 0 2px 2px black;



}

#section3{
background-color: pink;
background-image: url("../Assets/ballroom2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin:auto;
padding: 0;

}

#section4{
background-color: lightblue;
background-image: url("../Assets/jungle3.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin:auto;
padding: 0;

}



#section5{
background-color: grey;
background-image: url("../Assets/custom2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
margin:auto;
padding: 0;
position: relative;
text-shadow: 0 2px 2px black;
}






#section2, #section4, #section5{
	display: inline-block;
	float: left;
	
}


.holder{
	width: 300vw;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    transform: translateX(-100vw);  /*change this to 0 to move left and right? */
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
}




/*.parent:hover #walleIMG,  /* how can i make it so it enlarges all images only when they are hovered over (not when just one is) */
/*.parent:focus .images{
	transform: scale(1.2);
	
}*/




.images{                         
	border-radius: 50%;
	width: 120px;
	height: 120px;
	z-index: 899;
	position: absolute;
	transition: all .5s;
}





/* TOP PAGE */
#walleIMG{                        
	top: 100px;
	right: 200px;
}
#walleIMG:hover{
	cursor: pointer;
}

#treasureIMG{
	top: 600px;
	left: 300px;	
}
#treasureIMG:hover{
	cursor: pointer;
}

#liloIMG{
	top: 300px;
	left: 100px;
}
#liloIMG:hover{
	cursor: pointer;
}

/*              */


/* LEFT PAGE */

#tarzanIMG{                        
	bottom: -200px;
	right: 1500px;
	position: absolute;
}
#tarzanIMG:hover{
	cursor: pointer;
}

#lionkingIMG{                        
	bottom: -770px;
	right: 610px;
	position: absolute;
}
#lionkingIMG:hover{
	cursor: pointer;
}

#zootopiaIMG{                        
	bottom: -400px;
	right: 180px;
	position: absolute;
}
#zootopiaIMG:hover{
	cursor: pointer;
}

/*              */

/* BOTTOM PAGE  */
#mulanIMG{
	top: 230%;
    right: 80%;
    position: absolute;
}
#mulanIMG:hover{
	cursor: pointer;
}

#moanaIMG{
	top: 250%;
    right: 10%;
    position: absolute;
}
#moanaIMG:hover{
	cursor: pointer;
}

#cinderellaIMG{
	top: 285%;
    right: 40%;
    position: absolute;
}
#cinderellaIMG:hover{
	cursor: pointer;
}

/*              */


/* RIGHT PAGE */
.imagelist3{
	
	border-radius: 50%;
	width: 80px;
	height: 80px;
	overflow: visible;
	
	transition: all .5s;
}

#walleIMG3{
	top: 150px;
	right: 250px;
	position: absolute;
	display: none;
}
#walleIMG3:hover{
	cursor: pointer;
}

#treasureIMG3{
	top: 360px;
	left: 370px;
	position: absolute;
	display: none;
}
#treasureIMG3:hover{
	cursor: pointer;
}

#liloIMG3{
	top: 120px;
	right: 950px;
	position: absolute;
	display: none;
}
#liloIMG3:hover{
	cursor: pointer;
}

#tarzanIMG3{
	bottom: 200px;
	right: 420px;
	position: absolute;
	display: none;
}
#tarzanIMG3:hover{
	cursor: pointer;
}

#lionkingIMG3{
	bottom: 120px;
	right: 820px;
	position: absolute;
	display: none;
}
#lionkingIMG3:hover{
	cursor: pointer;
}

#zootopiaIMG3{
	top: 140px;
	right: 1270px;
	position: absolute;
	display: none;
}
#zootopiaIMG3:hover{
	cursor: pointer;
}

#moanaIMG3{
	top: 460px;
	right: 190px;
	position: absolute;
	display: none;
}
#moanaIMG3:hover{
	cursor: pointer;
}

#mulanIMG3{
	bottom: 260px;
	left: 240px;
	position: absolute;
	display: none;
}
#mulanIMG3:hover{
	cursor: pointer;
}

#cinderellaIMG3{
	bottom: 670px;
	right: 670px;
	position: absolute;
	display: none;
}
#cinderellaIMG3:hover{
	cursor: pointer;
}

/*            */


.videoholder{
	display: none;
	position: absolute;
	margin:auto;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}
iframe{
	width: 560px;
	height: 315px;
	border: 0; /* JUST ADDED THIS MIGHT JUST PUT NOTHING INSTEAD */
}

.videoholder2{
	display: none;
	position: absolute;
	margin:auto;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.videoholder3{
	display: none;
	position: absolute;
	margin:auto;
	top: 50%;
	left: 53%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}

.videoholder4{
	display: none;
	position: absolute;
	margin:auto;
	top: 260%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
}



#Welcome{
	font-size: 230%;
}
#Vault{
	font-size: 700%;
}


#section5 h2{  /*TITLE IN LEFT PAGE*/
	left: 37%; 
	top: 1%; 
	font-size: 270%;
}





/* ANIMATION FADE IN */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
        ;-webkit-transform: translate3d(0,40px,0)
        ;-ms-transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
        -webkit-transform: translate3d(0,40px,0)
        -ms-transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
	animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* ANIMATION END */




/* LIST DETAILS */

button:focus {outline:0;}
#button{
	border-radius: 25px;
	background-color: transparent;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    font-size: 24px;
    font-family: Curly Font;
}
#button2{
	border-radius: 25px;
	background-color: transparent;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    font-size: 24px;
    font-family: Curly Font;
}



#button:hover{
	background-color: #dc6d20;
	cursor: pointer;
}
#button2:hover{
	background-color: #df3645;
	cursor: pointer;
}


#myInput {
    /*background-image: url('../Assets/searchicon.png'); /* THIS IMAGE DOES NOT APPEAR, WHY?? */
    background-position: 10px 12px; /* Position the search icon */
    background-color: #e38a4c;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 15px; /* Increase font-size */
    border-radius: 25px;
    padding: 12px 1px 12px 1px; /* Add some padding */
    border: 1px solid #e38a4c; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
    overflow: visible;
	position: absolute;
	width: 70%;
	margin-top: 22.6%;
	left: 1%;
	z-index: 99;
}

#arrow{  
	top: 30%;
	left: 10%;
	opacity: 0.5;
	width: 40px;
	height: 45px;
}


.btn-group{
  margin-left: 10px;
  position: absolute;
  top: 150px;
}

.btn-group2{
  margin-left: 10px;
  position: absolute;
  top: 70px;
}




.dropdown-menu > li > a:hover{
	cursor: pointer;
  	background: #f1f9fd;
  	box-shadow: 2px 2px 2px black;  
} 

#toggle{
    width: 120px;
 	display: none;
 	top: 161%;
 	position: absolute;
}

.dropdown-header{
  background: #ccc;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.imagelist{
	
	border-radius: 50%;
	width: 80px;
	height: 80px;
	overflow: visible;
	display: block; 
	transition: all .5s;
}

.a-tag{
	overflow: hidden;
	display: block;
	border-radius: 50%;
	border: 3px solid transparent;
	width: 80px;
	height: 80px;

	
}

.li-tag{
	height: auto;
	overflow: hidden;
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul{
	overflow-y:scroll;
	height: 325px; 
}


#arrow-left {
	display: none;
}
#arrow-right {
	display: none;
}
/* END LIST DETAILS */

/* REPORT PAGE  */
#pagetwo{
	background-color: grey;
}

#paragraphone{
	display: block;
}
.paragraph{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	font-family: Georgia, serif;
	padding-left: 30px;
	padding-right: 30px;
}

.link{
	font-style: italic;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	overflow: hidden;
	padding-bottom: 25px;
}

#ReportBG{
	background-color: white;
	color: black;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0;
	overflow-y: scroll;
	height: 100vh;
}
.subheading{
	font-family: Georgia, serif;
	font-size: 20px;
	padding-left: 15px;
	text-decoration: underline;
	position: sticky;
	position: -webkit-sticky;
	top: 20px;
	background-color: white;
	width: 28vw;
	padding-top: 20px;
	padding-bottom: 22px;
}
.normaltext{
	font-size: 14px;
	font-family: Georgia, serif;
	padding-left: 30px;
	padding-right: 30px;
}
.title{
	text-align: center;
	font-size: 45px;
	padding-top: 10px;

	
}
#stickyart{
	top: 20px;
	background-color: white;
	width: 100vw;
	padding-top: 1px;
	position: sticky;
	position: -webkit-sticky; /*SAFARI*/
}

#whitespace{
	position: sticky;
    width: 100vw;
    top: 0;
    height: 20px;
    background-color: white;
}

/*              */


@media screen and (max-width: 420px) {  /* SIZE OF EVERYTHING THE SIZE OF AN IPHONE OR SMALLER*/ 
	#Welcome{
		font-size: 115%;
	}
	#Vault{
		font-size: 350%;
	}

	#arrow-left {
  		width: 0; 
  		height: 0; 
  		border-top: 30px solid transparent;
  		border-bottom: 30px solid transparent; 
  		display: block;
  		top: 50%;
  		position: absolute;
  		border-right: 30px solid white;
	}

	#arrow-right {
  		width: 0; 
  		height: 0;
    	margin-top: 50%;
    	margin-left: 90%;
  		display: block;
  		border-top: 30px solid transparent;
  		border-bottom: 30px solid transparent;
  		border-left: 30px solid white;
	}

	.helpmessage{
		font-size: 120%;
	}

	.helpmessagebot{
		font-size: 120%;
		top: 265%;
	}

	.helpmessageleft{
		font-size: 120%;
		right: -2%;
		top: 155%;
	}

	h5.helpmessage{
		font-size: 120%;
		left: 33%
	}

	h6.helpmessage2{
		font-size: 120%;
		top: 86%;
	}

	.helpmessage3{
		font-size: 120%;
		left: 17%;
	}

	#helpmessageside{
		font-size: 120%;
		left: 71%;  /* WHY IS THERE A LARGE PADDING BY THIS LEFT HOME PAGE MESSAGE??????*/
	}
	

	.videoholder{
		top: 47%;
	}
	.videoholder2{
		top: 151%;
		left: 50%;
	}
	.videoholder3{
		top: 56%;
		left: 56.5%;
	}
	.videoholder4{
		top: 270%;
	}

	iframe{
		width: 240px;
		height: 120px;
	}

    .images{                         
		width: 55px;
		height: 55px;
	}

	#section5 h2{
		text-align: center;
		font-size: 250%;
		left: 0%;
	}

	.imagelist{
		width: 37px;
		height: 37px;

	}
	.imagelist3{
		width: 40px;
		height: 40px;
	}
	.a-tag{
		width: 40px;
		height: 40px;	
	}
	#button{
		padding:2px 10px;
		font-size: 18px;
	}
	#button2{
		padding:2px 10px;
		font-size: 18px;
		margin-top: 60%;
	}
	#myInput{
		font-size: 12px;
		position: absolute;
		width: 80%;
		padding:2px 1px 2px 1px;
		margin-top: 25.4px;
		left: 1%;
		z-index: 99;
	}
	ul{
		height: 190px;
	}
	#gap{
		padding-top: 5px;
	}
	#toggle{
		width: 66px;
		left: -27%;
		top: 117%;
		position: absolute;
	}
	li{
		font-size: 10px;
	}


	/* TOP PAGE */
	#walleIMG{                        
		top: 100px;
		right: 58.6px;
	}

	#treasureIMG{
		top: 450px;
		left: 87.9px;	
	}

	#liloIMG{
		top: 100px;
		left: 29.3px;
	}
	/*              */

	/*BOTTOM PAGE  */
	#cinderellaIMG{
		top: 310%;
	}

	#moanaIMG{
		top: 285%;
	}

	#mulanIMG{
		top: 290%;
	}
	/*               */

	/*LEFT PAGE */
	#lionkingIMG{
		bottom: -185px;
		right: 240px;
	}

	#tarzanIMG{
		bottom: -565px;
    	right: 110px;
	}

	#zootopiaIMG{
		bottom: -470px;
	}

	/*          */

	/* RIGHT PAGE  */
	#walleIMG3{
		top: 230px;
		right: 73px;
	}


	#treasureIMG3{
		top: 473px;
		left: 20px;
	}


	#liloIMG3{
		top: 220px;
		right: 220px;
	}


	#tarzanIMG3{
		bottom: 90px;
		right: 123px;
	}


	#lionkingIMG3{
		bottom: 50px;
		right: 240px;
	}

	#zootopiaIMG3{
		top: 140px;
		left: 315px;
	}


	#moanaIMG3{
		top: 440px;
		right: 16px;
	}


	#mulanIMG3{
		bottom: 19px;
		right: 50px;  /*DOESNT SEEM TO CHANGE ANYTHING*/
	}


	#cinderellaIMG3{
		bottom: 470px;
		right: 150px;
	}
	/*            */

	/* no tinkerbell! */
	.tinkerbellHOMEblack{
		display: none;
	}
	.tinkerbellHOME{
		display: none;
	}
	#tinkerbellHOMEjungle{
		display: none;
	}

	div#goleft{
		display: none;
	}

	#boxtop, #boxbot, #boxright{
		display: none;
	}
	/*                */

} /*END OF MEDIA QUERY FOR PHONE*/